<head>
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//ssl.google-analytics.com">
  <link rel="dns-prefetch" href="//fonts.gstatic.com">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ if .Page.Title }}{{ .Page.Title }}{{ else }}{{ .Site.Title }}{{ end }}</title>

  <meta name="description" content="{{ .Page.Description }}">

  <link href='/css/main.css' rel="stylesheet" type='text/css'>

  <link rel="canonical" href="{{ .Page.Permalink }}">

  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
</head>
