---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ "/" | absoluteUrl(site.url) }}</loc>
    <lastmod>{{ collections.posts[0].date | dateISO }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
{%- for post in collections.posts %}
  <url>
    <loc>{{ post.url | absoluteUrl(site.url) }}</loc>
    <lastmod>{{ post.date | dateISO }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
{%- endfor %}
{%- for page in collections.pages %}
  <url>
    <loc>{{ page.url | absoluteUrl(site.url) }}</loc>
    <lastmod>{{ page.date | dateISO }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
{%- endfor %}
</urlset>
